.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0 1rem;
  justify-content: flex-end;
}

.status {
  min-height: 1rem;
  font-size: 0.75rem;
  color: var(--ifm-color-danger);
}
